---
// src/pages/blog/[tag].astro

import BlogGrid from "@/components/BlogGrid.astro";
import Badge from "@/components/ui/Badge.astro";
import BlogLayout from "@/layouts/BlogLayout.astro";
import { getCollection } from "astro:content";

// Obtener todos los posts de la colección
const allPosts = await getCollection("posts");

// Generar las rutas estáticas para cada tag
export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  // Obtener todos los tags únicos de los posts
  const allTags = new Set(allPosts.flatMap((post) => post.data.tags || []));

  // Generar las rutas estáticas para cada tag
  return Array.from(allTags).map((tag) => ({
    params: { tag },
    props: { tag },
  }));
}

// Obtener el parámetro de la URL (el tag)
const { tag } = Astro.params;

// Filtrar los posts que contengan el tag especificado
const filteredPosts = allPosts.filter(
  (post) => post.data.tags && post.data.tags.includes(tag)
);
---

<BlogLayout
  title=`Raul Salomon - Categoría ${tag}`
  description=`Publicaciones de blog pertenecientes a la categoría ${tag}`
>
  <!-- BlogGrid -->
  <div class="container mx-auto py-8 flex flex-col md:flex-row-reverse gap-4">
    <BlogGrid source={filteredPosts} />
  </div>
</BlogLayout>
