---
import Hero from "@/components/Hero.astro";
import About from "../components/About.astro";
import InfiniteLogoCarousel from "../components/InfiniteLogoCarousel.astro";
import Projects from "@/components/Projects.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import TechCommunities from "@/components/TechCommunities.astro";
import Experience from "@/components/Experience.astro";
---

<MainLayout
  title="Raul Salomon - Desarrollador Web"
  description="Soy un desarrollador radicado en México, apasionado por la experiencia de usuario. Mis principales herramientas de elección incluyen: JavaScript, Angular, Astro y .NET"
>
  <Hero />
  <main>
    <About />
    <Experience />
    <InfiniteLogoCarousel />
    <TechCommunities />
    <Projects />
  </main>
</MainLayout>
