---
import LetterGlitch from "./react-components/GlitchEffect";
---

<div class="py-24 sm:py-32" id="aboutMe">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <h2
      class="text-indigo-600 mx-auto mt-2 max-w-lg text-center text-4xl font-semibold tracking-tight text-balance sm:text-5xl"
    >
      Sobre mí
    </h2>
    <p
      class="mx-auto mt-2 max-w-lg text-center text-base/7 font-semibold tracking-tight text-balance text-gray-950"
    >
      Un desarrollador web apasionado por la tecnología y la innovación.
    </p>
    <div class="mt-10 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:grid-rows-2">
      <div class="relative lg:row-span-2">
        <div
          class="absolute inset-px rounded-lg bg-white max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"
        >
        </div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-r-[calc(2rem+1px)]"
        >
          <div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0">
            <p
              class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center"
            >
              ¿Quíen es Raul Salomon? 🧑🏻‍💻
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">
              Disfruto transformar ideas en productos funcionales, combinando
              creatividad y tecnología para resolver problemas y mejorar
              procesos. Mi objetivo siempre es entregar código de calidad, bien
              estructurado y alineado con las mejores prácticas de la industria.
            </p>
          </div>
          <div class="relative min-h-[30rem] w-full grow">
            <div
              class="absolute top-10 right-0 bottom-0 left-10 overflow-hidden rounded-tl-xl bg-[#23262e] shadow-2xl"
            >
              <div class="flex bg-gray-800/40 ring-1 ring-white/5">
                <div class="-mb-px flex text-sm/6 font-medium text-gray-400">
                  <div
                    class="border-r border-b border-r-white/10 border-b-white/20 bg-white/5 px-4 py-2 text-white"
                  >
                    AboutMe.ts
                  </div>
                  <div class="border-r border-gray-600/10 px-4 py-2">
                    App.astro
                  </div>
                </div>
              </div>
              <div class="px-6 pt-6 pb-14">
                <div class="text-xs text-white leading-5">
                  <span class="text-[#c74ded]">const</span>
                  <span class="text-[#0e9c8a]">RaulSalomon</span>
                  <span class="text-[#ee5d43]">=</span>
                  <span class="text-[#f1d718]">&lcub;</span>

                  <br />

                  <ul>
                    <li>
                      pronouns: <span class="text-[#96e072]">'He / Him'</span>,
                    </li>

                    <li>
                      pastCompanies: <span class="text-[#a564d6]">[</span><span
                        class="text-[#96e072]">'FACPYA'</span
                      ><span class="text-[#a564d6]">]</span>,
                    </li>

                    <li>
                      lowCodeTools: <span class="text-[#a564d6]">[</span>
                      <ul class="px-2">
                        <li><span class="text-[#96e072]">'Figma'</span>,</li>
                        <li><span class="text-[#96e072]">'Canva'</span>,</li>
                        <li><span class="text-[#96e072]">'Notion'</span></li>
                      </ul>
                      <span class="text-[#a564d6]">]</span>,
                    </li>

                    <li>
                      techCommunities: <span class="text-[#8858d6]">&lcub;</span
                      >
                      <ul class="px-2">
                        <li>
                          organizer: <span class="text-[#1b9fdd]">[</span>
                          <span class="text-[#96e072]"
                            >'Comunidad Estudiantil de Tecnologías de
                            Información de FACPyA'</span
                          ><span class="text-[#1b9fdd]">]</span>,
                        </li>
                        <li>
                          events: <span class="text-[#1b9fdd]">[</span>
                          <ul class="px-2">
                            <li>
                              <span class="text-[#96e072]"
                                >'Innovaccion Virtual'</span
                              >,
                            </li>
                            <li>
                              <span class="text-[#96e072]">'Launch X'</span>,
                            </li>
                            <li>
                              <span class="text-[#96e072]"
                                >'Major League Hacking - Tigre Hacks'</span
                              >,
                            </li>
                            <li>
                              <span class="text-[#96e072]"
                                >'La Hackathon Del Dev'</span
                              >
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>

                  <span class="text-[#1b9fdd] px-2">]</span>
                  <br />
                  <span class="text-[#8858d6]">&rcub;</span>
                  <span class="text-[#f1d718]">&rcub;</span>;
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"
        >
        </div>
      </div>

      <div class="relative max-lg:row-start-1">
        <div
          class="absolute inset-px rounded-lg bg-white max-lg:rounded-t-[2rem]"
        >
        </div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)]"
        >
          <div class="px-8 pt-8 sm:px-10 sm:pt-10">
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">
              Aunque tengo algunas herramientas preferidas, siempre elijo la
              mejor para el trabajo, incluso si no está en mi lista habitual. Mi
              objetivo es encontrar la solución adecuada para cada proyecto.
            </p>
          </div>
          <div
            class="flex flex-1 items-center justify-center px-8 max-lg:pt-10 max-lg:pb-12 sm:px-10 lg:pb-2"
          >
            <img
              class="w-full md:w-[50%] max-lg:max-w-xs"
              src="/images/about-performance.webp"
              alt=""
            />
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 max-lg:rounded-t-[2rem]"
        >
        </div>
      </div>

      <div class="relative max-lg:row-start-3 lg:col-start-2 lg:row-start-2">
        <div class="absolute inset-px rounded-lg bg-white"></div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]"
        >
          <div class="px-8 pt-8 sm:px-10 sm:pt-10">
            <p
              class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center"
            >
              🕹 Habilidades
            </p>

            <div class="gap-8 sm:grid sm:grid-cols-2">
              <div>
                <dl>
                  <dt class="text-sm font-medium text-neutral-600">
                    Comunicación
                  </dt>
                  <dd class="flex items-center mb-3">
                    <div class="w-full bg-gray-200 rounded-sm h-2.5 me-2">
                      <div
                        class="bg-indigo-600 h-2.5 rounded-sm"
                        style="width: 88%"
                      >
                      </div>
                    </div>
                  </dd>
                </dl>

                <dl>
                  <dt class="text-sm font-medium text-neutral-600">
                    Trabajo en equipo
                  </dt>
                  <dd class="flex items-center mb-3">
                    <div class="w-full bg-gray-200 rounded-sm h-2.5 me-2">
                      <div
                        class="bg-indigo-600 h-2.5 rounded-sm"
                        style="width: 89%"
                      >
                      </div>
                    </div>
                  </dd>
                </dl>

                <dl>
                  <dt class="text-sm font-medium text-neutral-600">
                    Gestión del tiempo
                  </dt>
                  <dd class="flex items-center mb-3">
                    <div class="w-full bg-gray-200 rounded-sm h-2.5 me-2">
                      <div
                        class="bg-indigo-600 h-2.5 rounded-sm"
                        style="width: 88%"
                      >
                      </div>
                    </div>
                  </dd>
                </dl>

                <dl>
                  <dt class="text-sm font-medium text-neutral-600">Inglés</dt>
                  <dd class="flex items-center mb-3">
                    <div class="w-full bg-gray-200 rounded-sm h-2.5 me-2">
                      <div
                        class="bg-indigo-600 h-2.5 rounded-sm"
                        style="width: 50%"
                      >
                      </div>
                    </div>
                  </dd>
                </dl>
              </div>

              <div>
                <dl>
                  <dt class="text-sm font-medium text-neutral-600">
                    Resolución de problemas
                  </dt>
                  <dd class="flex items-center mb-3">
                    <div class="w-full bg-gray-200 rounded-sm h-2.5 me-2">
                      <div
                        class="bg-indigo-600 h-2.5 rounded-sm"
                        style="width: 89%"
                      >
                      </div>
                    </div>
                  </dd>
                </dl>

                <dl>
                  <dt class="text-sm font-medium text-neutral-600">
                    Capacidad de aprendizaje continuo
                  </dt>
                  <dd class="flex items-center mb-3">
                    <div class="w-full bg-gray-200 rounded-sm h-2.5 me-2">
                      <div
                        class="bg-indigo-600 h-2.5 rounded-sm"
                        style="width: 80%"
                      >
                      </div>
                    </div>
                  </dd>
                </dl>

                <dl>
                  <dt class="text-sm font-medium text-neutral-600">
                    Pensamiento crítico
                  </dt>
                  <dd class="flex items-center">
                    <div class="w-full bg-gray-200 rounded-sm h-2.5 me-2">
                      <div
                        class="bg-indigo-600 h-2.5 rounded-sm"
                        style="width: 89%"
                      >
                      </div>
                    </div>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5"
        >
        </div>
      </div>

      <div class="relative lg:row-span-2">
        <div class="absolute inset-px rounded-lg bg-white lg:rounded-l-[2rem]">
        </div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-l-[calc(2rem+1px)]"
        >
          <div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0">
            <p
              class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center"
            >
              🎧 Un poco más sobre mí
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">
              Cuando no estoy codificando, me encanta escuchar música y disfruto
              explorar nuevas tecnologías y aprender habilidades que me ayuden a
              crecer tanto profesional como personalmente. Siempre estoy
              buscando nuevas formas de desafiarme y mejorar.
            </p>
          </div>
          <div
            class="@container relative min-h-[30rem] w-full grow max-lg:mx-auto max-lg:max-w-sm"
          >
            <div
              class="absolute inset-x-10 top-10 bottom-0 overflow-hidden rounded-t-[12cqw] border-x-[3cqw] border-t-[3cqw] border-gray-700 bg-gray-900 shadow-2xl"
            >
              <LetterGlitch client:load />
            </div>
          </div>
          <div
            class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 lg:rounded-l-[2rem]"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
