---
import { getCollection } from "astro:content";

const techCommunities = await getCollection("techComunities");
---

<section class="py-16 bg-white">
  <div class="container px-4 mx-auto">
    <h2 class="text-3xl font-bold text-center mb-16">
      Comunidades tecnológicas
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
      {
        techCommunities.map((community) => {
          const { id, data } = community;
          const { logo, name, description } = data;
          return (
            <div class="flex flex-col items-center text-center">
              <div class="w-16 h-16 mb-6 flex items-center justify-center">
                <img src={logo} class="size-16" alt={name} />
              </div>
              <h3 class="text-lg font-semibold mb-3">{name}</h3>
              <p class="text-gray-600 max-w-xs">{description}</p>
            </div>
          );
        })
      }
    </div>
  </div>
</section>
